h1 {
  color: red;
}
/* 
table thead tr {
  background-color: #0275d8;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #491a1a;
}

table tbody tr:nth-of-type(even) {
  background-color: #4b1f1f;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #0275d8;
} */
