.modal-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.65);
    z-index: 999;
}

.modal{
    position: absolute;
    top: 5vh;
    left: 25vw;
    height: 80vh;
    width: 50vw;
    background: white;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px rgba(2,3,5,0.8);
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 30px 30px;
}

.close-btn{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
    color: red;
}

.close-btn:hover{
    transform: scale(1.1);
    transition: .1s linear;
}

.close-btn:focus {
    outline: none;
}

.th{
    width: 40%; 
    text-align:center; 
    font-size:18px;
}

.td{
    width: 60%; 
    text-align:left; 
    font-size:18px;
    font-weight:300;
}