<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css')}}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
          <a style="font-size: 35px; color:white;"  class="navbar-brand" href="/devices"><img style="width: 60px; height:60px; border-radius:50%;" src="{{url_for('static',filename='images/icon.png')}}" alt="Home"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              <a style="font-size: 20px; color:white;"  class="nav-link mr-3" href="/devices">Devices</a>   
              <a style="font-size: 20px; color:white;" class="nav-link mr-3" href="/incidents">Incidents</a>
              <a style="font-size: 20px; color:white;" class="nav-link mr-3" href="/change-password">Change Password</a>
              <a style="font-size: 20px; color:white;" class="nav-link mr-3" href="/logout" >Log Out</a>
            </div>
          </div>
        </div>
      </nav>
    <h1 class="text-center mb-4 mt-5 text-primary">Change Password</h1>
    {% with message = get_flashed_messages()  %}
    {% if message %}
        <p class="text-center alert alert-success mb-3 mt-3">{{ message[0] }}</p>
    {% endif %}
    {% endwith %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 m-lg-auto col-md-8 m-md-auto col-sm-10 m-sm-auto">
                <form method="post" name="form" id="form">
                    <div class="mb-3">
                        <label>New Password</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <div class="row">
                        <div class="m-auto">
                            <button style="padding: 5px 30px;" class="btn btn-primary mt-4" type="submit" name="change-btn" id="change-btn">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>