<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="120">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/dataTables.min.css')}}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css')}}">
    <!-- <link rel="stylesheet" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"> -->
</head>
<body>
    <div id="modal-box" class="modal-box">
        <div id="modal" class="modal">
            <button id="close-btn" class="close-btn">&times;</button>
            <table class="table table-striped m-5" style="width: 100%;">
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
          <a style="font-size: 35px; color:white;"  class="navbar-brand" href="/devices"><img style="width: 60px; height:60px; border-radius:50%;" src="{{url_for('static',filename='images/icon.png')}}" alt="Home"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              <a style="font-size: 20px; color:white;"  class="nav-link mr-3" href="/devices">Devices</a>   
              <a style="font-size: 20px; color:white;" class="nav-link mr-3" href="/incidents">Incidents</a>
              <a style="font-size: 20px; color:white;" class="nav-link mr-3" href="/change-password">Change Password</a>
              <a style="font-size: 20px; color:white;" class="nav-link mr-3" href="/logout" >Log Out</a>
            </div>
          </div>
        </div>
      </nav>
    <h1 class="text-center mb-4 mt-4 text-primary">Devices</h1>
    {% with message = get_flashed_messages()  %}
    {% if message %}
        <p class="text-center alert alert-success mb-3 mt-3">{{ message[0] }}</p>
    {% endif %}
    {% endwith %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table id="devices" style="width: 100%;">
                        <thead>
                            <tr style="text-align: center;" >
                                <th>IP address</th>
                                <th>Last Seen</th>
                                <th>Online</th>
                                <th>Attention</th>
                                <th>Trusted</th>
                                <th>Trust</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for device in devices %}
                            <tr style="text-align: center;">
                                <td>
                                    <a href="" id="ip-btn" data-device="{{device}}">{{ device[0] }}</a>
                                </td>
                                <td>{{ device[3] }}</td>
                                {% if device[6]==1 %}
                                    <td>True</td>
                                {% else %}
                                    <td>False</td>
                                {% endif %}
                                {% if device[7]==1 %}
                                    <td>True</td>
                                {% else %}
                                    <td>False</td>
                                {% endif %}
                                {% if device[5]==1 %}
                                    <td>True</td>
                                {% else %}
                                    <td>False</td>
                                {% endif %}
                                {% if device[5]==0 %}
                                    <td>
                                        <form action="{{url_for('trustDevice')}}" method="post">
                                            <input type="hidden" name="ip" value={{device[0]}}>
                                            <button type="submit" class="btn btn-outline-primary">Trust</button>
                                        </form>
                                    </td>
                                {% else %}
                                    <td>Trusted</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!-- <?php
    } else {
        echo "<p class='text-center alert alert-danger mt-5'>No Records</p>";
    }
    ?> -->
<script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/dataTables.min.js')}}"></script>
 <script>
    $(()=>{
        $("#devices").DataTable();
    $("#modal-box").css("display","none");
    $("#modal").css("display","none");
    $("#close-btn").click(()=>{
        $("#modal-box").css("display","none");
        $("#modal").css("display","none");
        $("#table-body").html("");
        $("#buttons-div").remove();
    })
    $(document).on("click","#ip-btn", function(e){
        thAttributes = ["IP","Mac","Last Scanned Date","Last Scanned Time","Last Scanned Year","Trusted","Online","Attention","Files Added","Files Removed"];
        e.preventDefault();
        $("#modal-box").css("display","block");
        $("#modal").css("display","block");
        let device = $(this).data('device');
        let deviceAttributes = device.split(", ");
        index = 0;
        let ip;
        for (let attribute of deviceAttributes){
            var i=0;
            while (i <= 1 ){
                attribute = attribute.replace("(","");
                attribute = attribute.replace(")","");
                attribute = attribute.replace("'","");
                i++;
            }
            if (index==0){
                ip=attribute;
            }
            if((index == 5 || index == 6 || index == 7) && attribute == 1){
                attribute = "True"
            }else if((index == 5 || index == 6 || index == 7) && attribute == 0){
                attribute = "False"
            }
            $("#table-body").append('<tr><th class="th">'+ thAttributes[index] +'</th><td class="td">'+ attribute +'</td></tr>')
            index++;
        }
        $("#modal").append('<div id="buttons-div" class="mb-4 w-100 text-center"><button id="contain-btn" class="btn btn-outline-success ml-auto mr-3" data-ipcontain='+ip+'>Contain</button><button id="uncontain-btn" class="btn btn-outline-danger ml-3" data-ipuncontain='+ip+'>Uncontain</button></div>');
      });

      $(document).on("click","#contain-btn",function(){
          let ip=$(this).data("ipcontain");
          $.ajax({
              url: '/contain-ip',
              type: 'POST',
              data:{ip}
          }).done(function(data){
            alert(data.message);
          });
      });
      
      $(document).on("click","#uncontain-btn",function(){
        let ip=$(this).data("ipuncontain");
        $.ajax({
            url: '/uncontain-ip',
            type: 'POST',
            data:{ip}
        }).done(function(data){
          alert(data.message);
        });
    });


    })

 </script>  
</body>
</html>