<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devices</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/dataTables.min.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/style.css')}}"
    />
    <!-- <link rel="stylesheet" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"> -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
        <a style="font-size: 35px; color:white;"  class="navbar-brand" href="/devices"><img style="width: 60px; height:60px; border-radius:50%;" src="{{url_for('static',filename='images/icon.png')}}" alt="Home"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a style="font-size: 20px; color:white;"  class="nav-link mr-3" href="/devices">Devices</a>   
            <a style="font-size: 20px; color:white;" class="nav-link mr-3" href="/incidents">Incidents</a>
            <a style="font-size: 20px; color:white;" class="nav-link mr-3" href="/change-password">Change Password</a>
            <a style="font-size: 20px; color:white;" class="nav-link mr-3" href="/logout" >Log Out</a>
          </div>
        </div>
      </div>
    </nav>
    <h1 class="text-center mb-4 mt-4 text-primary">Incidents</h1>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <table id="incidents" style="width: 100%">
            <thead>
              <tr style="text-align: center">
                <th>Name</th>
                <th>Opened</th>
                <th>Contained</th>
                <th>Time Contained</th>
              </tr>
            </thead>
            <tbody>
              {% for incident in incidents %}
              <tr style="text-align: center">
                <td>
                  <a href="/incident/{{incident[0]}}"> {{ incident[2] }} </a>
                </td>
                {% if incident[1]==1 %}
                <td>True</td>
                {% else %}
                <td>False</td>
                {% endif %} {% if incident[6]==1 %}
                <td>True</td>
                {% else %}
                <td>False</td>
                {% endif %}
                <td>{{ incident[7] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- <?php
    } else {
        echo "<p class='text-center alert alert-danger mt-5'>No Records</p>";
    }
    ?> -->
    <script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/dataTables.min.js')}}"></script>
    <script>
      $(() => {
        $("#incidents").DataTable();
      });
    </script>
  </body>
</html>
